<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCnJTNyYJKqz4c2zvci5sDmi4PGj05rfM</string>
	<key>GCM_SENDER_ID</key>
	<string>1010946051169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ternaryminds.otakuWorld</string>
	<key>PROJECT_ID</key>
	<string>otaku-world-8a7f4</string>
	<key>STORAGE_BUCKET</key>
	<string>otaku-world-8a7f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010946051169:ios:3bb139d01e93bbdb3d6e20</string>
</dict>
</plist>